@model List<eSalesPro.Models.Sale>

@foreach (var v in Model)
{
    <tr>
        <td class="text-center" data-title="User ID">@v.Created_at.ToShortDateString()</td>
        <td class="text-center" data-title="User ID">@v.Product.Custom_Label_</td>
        <td class="text-center" data-title="User ID">@v.Quantity</td>
        <td class="text-center" id="aa" data-title="User ID">@v.Price</td>
        <td class="text-center" data-title="User ID"></td>
        <td class="text-center" data-title="User ID">@v.PriceVAT</td>
    </tr>
}